<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="ba0f7acd-81a4-4ff0-ba31-8c3d5637b866" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="ba0f7acd-81a4-4ff0-ba31-8c3d5637b866fileName">TestSuite-1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
